<div>

    <div >
        
        <h2>Evoluci&aacute;n beneficio tributario</h2>

    </div>

    <div>

        <h3>Gesti&oacute;n de traslados externos</h3>

    </div>

    <div>

        <label for="select">Selecciona el NIT de la administradora</label>

        <select name="select" id="select">

            <option value="1" disabled selected>Selecciona el NIT</option>
            <option value="2">Porvenir S.A.</option>
            <option value="3">opci&oacute;n 2</option>
        </select>

        
        <label for="">Estos son los datos de :</label>

    </div>

</div>