<fieldset>

    <div class="contenidoHead">

        <div>
        
            <h3 class="letraNombre"><img src="../resources/Persona.png">Etelvina Rosa Jimenez Pinto</h3>
    
            <h4 class="letraDocumento" ><img src="../resources/Documento.png">C.C 1234567890</h4>
    
            <h4 class="letraGrafica"><img src="../resources/Diagrama.png">Pensi&oacute;n Obligatoria FPOB</h4>
    
        </div>
    
        <div class="divDocumento">
    
            <h3 class="letraArchivo"><img src="../resources/Archivo.png">SIGSCG #33488900976</h3>
    
            <h3 class="letraArchivo"><img src="../resources/Archivo.png">ULLA/TAX #33488900976</h3>
    
        </div>

    </div>

</fieldset>